#!/bin/bash

#Defining here all the variables

##SD Settings
#The directory where the boot partition is mounted
BOOT_PARTITION="/media/$USER/boot"
#The directory where the home partition is mounted
HOME_PI="/media/$USER/rootfs/home/pi"

##WIFI Settings
#WiFI Name
SSID=""
#WiFi Password
PSW=""
#WiFi nation / Nation where the WiFi is working
COUNTRY=""

##Kodi settings
#Backup file
KODI_BACKUP=""

##Network disk mounting setting
#Where the disk will be mounted
LOCAL_PATH="/media/pi/myRemoteHardDisk"
#The IP of the disk (Use local IP) 
REMOTE_IP="192.168.1.10"
#The remote IP to mount
REMOTE_PATH="/media/myComputerUser/myLocalHardDisk"
